@page "/Students"
@using Models 

<h3>Students</h3>
<hr/>

@foreach (var s in students)
{
    <div>
        @s.Nr - @s.Name - @s.City 
    </div>
}

@code {
    //fields
    private List<Student> students = new List<Student>();

    //LifeCycle Method
    protected override void OnInitialized()
    {
        //Add Demo Data
        students.Add(new Student() { Nr = 101, Name = "RubenB", City = "Gent" });
        students.Add(new Student() { Nr = 102, Name = "JanDW", City = "Lokeren" });
        students.Add(new Student() { Nr = 103, Name = "RonaldE", City = "Tielt" });
        students.Add(new Student() { Nr = 104, Name = "JayE", City = "Maldegem" });
        students.Add(new Student() { Nr = 105, Name = "HermanH", City = "Wondelgem" });
        students.Add(new Student() { Nr = 106, Name = "StefaanL", City = "Herzele" });
        students.Add(new Student() { Nr = 107, Name = "WernerP", City = "Destelbergen" });
        students.Add(new Student() { Nr = 108, Name = "JorenS", City = "Zelzate" });
        students.Add(new Student() { Nr = 109, Name = "JanT", City = "Zelzate" });
        students.Add(new Student() { Nr = 110, Name = "TomVDB", City = "Merelbeke" });
        students.Add(new Student() { Nr = 111, Name = "SofieV", City = "Gent" });
        students.Add(new Student() { Nr = 112, Name = "MathiasZ", City = "Sleidinge" });

        //Info
        Console.WriteLine("Demo Items Added ...");
    }

}
